<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kai.justapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Kai News : Today's Trend"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".science"></activity>
        <activity android:name=".headline" />
        <activity android:name=".enter" />
        <activity android:name=".olahraga" />
        <activity android:name=".kesehatan" />
        <activity android:name=".berita" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".kopi" />
        <activity android:name=".galeri" />
        <activity android:name=".profil" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>